
body {
    font-family: "Roboto", sans-serif;
    background-color:#D2D0BA;
        
}

a, p{
    color:#ad903a;
}

.bg-dark{
    background-color: #415d43!important;
}
.navbar-dark .navbar-brand, .nav-link {
    color: #ad903a!important;
}

.about, .contact {
    padding: 30px 0;
}

.about-texto{
    text-align: center;
    font-size: larger;
    padding: 30px;
}

.title-section {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 40px;
    padding: 30px;
    font-weight: bolder;
    
}

.text-section {
    text-align: center;
    font-size: 18px;
    margin: 30px 0;
}

.portfolio {
    display: flex;
    justify-content: space-around;
    padding: 50px;
      
}

.servicos-texto {
    text-align: center;
}

.card {
    padding: 15px;
}
.about-img{
    width: 250px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.form-contact {
    margin: 0 auto;
}

.btn-primary {
    color: #fff;
    background-color: #415d43;
    border-color: #415d43;
}

#nav-footer{
    justify-content: center
}

#nav-footer-link{
    display: flex;
}

#nav-footer-link p{
    margin-left: 10px;
}
/* css curriculo */

.pills-tab, .nav, .mb-3{
    background-color: #415d43!important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #415d43!important;
    }

.nav-link.disabled {
        color: gray;
    }
    
.bg-danger {
    background-color: #7B9E87!important;
    color: burlywood;
    font-weight: bolder;
    }
.bg-sucess, .bg-info{
    font-weight: bolder;
    color: lavender;
}

.bg-warning{
    font-weight: bolder;
    color: firebrick;
}



/* css formação */

.btn-primary:hover {
    color: #fff;
    background-color: #415d43;
    border-color: #415d43;
}

.education{
    padding: 10%;
    font-weight: bolder;
    background-color: #415d43;
}

.text-section_education{
    border: solid;
    border-radius: 7px;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    margin: 30px 0;
}

.text-justify_education{
    padding: 10%;
    text-align: center;
    margin: 30px 0;
    border: solid;
}
/* css habilidades */

.skills {
    
    padding: 30px;
    
}

.title-section-skills{
    color: #415d43;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 40px;
    padding: 30px;
}

.progress {
    margin-bottom: 4px;
    height: 3rem;
    font-size: 1rem;
    border-radius: 1.25rem;
    background-color: #64899a73;
}

.nav-footer {
    background-color: #343a40b3;
}
/* css background-jobs */
